USE [DemoEducationLevelDb]
GO
/****** Object:  UserDefinedTableType [dbo].[GuidListType]    Script Date: 14/09/2026 3:06:33 CH ******/
CREATE TYPE [dbo].[GuidListType] AS TABLE(
	[Id] [uniqueidentifier] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[typWorkSchedule]    Script Date: 14/09/2026 3:06:33 CH ******/
CREATE TYPE [dbo].[typWorkSchedule] AS TABLE(
	[Id] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[ShiftId] [uniqueidentifier] NULL,
	[FacilityId] [uniqueidentifier] NULL,
	[WorkDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[PublishedAt] [datetime] NULL,
	[PublishedBy] [uniqueidentifier] NULL,
	[confirmedAt] [datetime] NULL,
	[confirmedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NULL
)
GO
/****** Object:  Table [dbo].[EducationLevel]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevel](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Order] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[ParentId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationLevelSalaryCoefficient]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevelSalaryCoefficient](
	[Id] [uniqueidentifier] NOT NULL,
	[EducationLevelId] [uniqueidentifier] NOT NULL,
	[BaseCoefficient] [decimal](5, 2) NULL,
	[AllowancePercentage] [decimal](5, 2) NOT NULL,
	[EffectiveFrom] [datetime] NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeCode] [varchar](50) NOT NULL,
	[JobApplicationId] [uniqueidentifier] NULL,
	[JobPositionId] [uniqueidentifier] NOT NULL,
	[PrimaryFacilityId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [varchar](150) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [varchar](20) NULL,
	[HireDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Facility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplication]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplication](
	[Id] [uniqueidentifier] NOT NULL,
	[JobPositionId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [varchar](120) NOT NULL,
	[CvFileUrl] [varchar](200) NOT NULL,
	[CoverLetter] [nvarchar](300) NULL,
	[YearsOfExperience] [int] NOT NULL,
	[AppliedAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPosition]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPosition](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Department] [nvarchar](150) NOT NULL,
	[OpenSlots] [int] NOT NULL,
	[MinimumEducationLevelId] [uniqueidentifier] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[ParentId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequest]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequest](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[LeaveType] [varchar](30) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Reason] [nvarchar](300) NULL,
	[Status] [varchar](20) NOT NULL,
	[ApprovedBy] [uniqueidentifier] NULL,
	[ApprovedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LeaveRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyEmployees]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyEmployees](
	[EmployeeID] [smallint] NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DeptID] [smallint] NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_EmployeeID] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[Id] [uniqueidentifier] NOT NULL,
	[FacilityId] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSwapRequest]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSwapRequest](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkScheduleId] [uniqueidentifier] NOT NULL,
	[RequestedByEmployeeId] [uniqueidentifier] NOT NULL,
	[SwapWithEmployeeId] [uniqueidentifier] NULL,
	[Reason] [nvarchar](300) NULL,
	[Status] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_ShiftSwapRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[ShiftId] [uniqueidentifier] NOT NULL,
	[FacilityId] [uniqueidentifier] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[PublishedAt] [datetime] NULL,
	[PublishedBy] [uniqueidentifier] NULL,
	[confirmedAt] [datetime] NULL,
	[confirmedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WorkSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EducationLevel] ([Id], [Name], [Description], [Order], [IsDeleted], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'8cd1319d-31ca-4185-ab80-022aeb3d7de9', N'Định hướng dưỡng sinh', N'test_abccc', 3, 0, CAST(N'2026-09-08T14:59:59.510' AS DateTime), NULL, N'a0696403-f831-461a-b03f-3ecd07ab2cac')
INSERT [dbo].[EducationLevel] ([Id], [Name], [Description], [Order], [IsDeleted], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'bcece7c5-8ae1-410f-935e-05fe6e7c0f46', N'Trung cấp', N'Test_abcccc66', 0, 1, CAST(N'2026-08-26T09:28:14.867' AS DateTime), CAST(N'2026-08-26T09:28:22.400' AS DateTime), NULL)
INSERT [dbo].[EducationLevel] ([Id], [Name], [Description], [Order], [IsDeleted], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'b7cd1c4d-8157-4e30-8503-08a97660787a', N'Khối bác sĩ 2', N'string', 3, 0, CAST(N'2026-09-08T14:46:29.987' AS DateTime), CAST(N'2026-09-09T09:45:42.293' AS DateTime), N'4f5a79b7-2c84-48ba-ae75-965cfd3aac91')
GO
INSERT [dbo].[EducationLevelSalaryCoefficient] ([Id], [EducationLevelId], [BaseCoefficient], [AllowancePercentage], [EffectiveFrom], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'ac97283a-8308-42f8-b054-3b793900762e', N'15a03330-af58-403e-be72-bcf5e09a7f91', CAST(0.24 AS Decimal(5, 2)), CAST(0.12 AS Decimal(5, 2)), CAST(N'2026-08-28T00:00:00.000' AS DateTime), N'abcc', CAST(N'2026-08-26T09:49:44.760' AS DateTime), NULL, 0)
INSERT [dbo].[EducationLevelSalaryCoefficient] ([Id], [EducationLevelId], [BaseCoefficient], [AllowancePercentage], [EffectiveFrom], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'c7290a4e-61c5-4765-af9d-4ae1ce2205d9', N'335b533b-951b-4486-9584-95b2af501574', CAST(0.33 AS Decimal(5, 2)), CAST(0.15 AS Decimal(5, 2)), CAST(N'2026-08-26T00:00:00.000' AS DateTime), N'abccc', CAST(N'2026-08-26T09:45:22.650' AS DateTime), NULL, 0)
INSERT [dbo].[EducationLevelSalaryCoefficient] ([Id], [EducationLevelId], [BaseCoefficient], [AllowancePercentage], [EffectiveFrom], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'5ae5a0a5-3093-4dcc-8687-c5db8a9406ba', N'67feba50-7b7d-4ffb-a771-8f8e16b429f6', CAST(0.45 AS Decimal(5, 2)), CAST(0.37 AS Decimal(5, 2)), CAST(N'2026-08-20T00:00:00.000' AS DateTime), NULL, CAST(N'2026-08-27T17:34:26.280' AS DateTime), CAST(N'2026-08-28T14:14:42.500' AS DateTime), 0)
GO
INSERT [dbo].[Employee] ([Id], [EmployeeCode], [JobApplicationId], [JobPositionId], [PrimaryFacilityId], [FullName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [HireDate], [Status], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'a7abb521-fc9e-4ccd-aeb8-78244cc6fb20', N'NV0208', NULL, N'74411bb6-07c6-498e-992a-259160f9f695', N'595a7577-59fe-418b-b745-f7f9974d7304', N'Khánh Nguyễn', N'khanhnv@gmail.com', N'09222227837', CAST(N'2026-09-12T06:51:28.150' AS DateTime), N'Male', CAST(N'2026-09-12T06:51:28.150' AS DateTime), N'Active', 0, CAST(N'2026-09-12T13:55:15.830' AS DateTime), NULL)
GO
INSERT [dbo].[Facility] ([Id], [Name], [Address], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'c2f76f08-b893-43c9-bdfa-64601eb3a6f2', N'string', N'string', 1, CAST(N'2026-09-11T15:37:11.473' AS DateTime), CAST(N'2026-09-11T15:45:46.487' AS DateTime))
INSERT [dbo].[Facility] ([Id], [Name], [Address], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'ab58403b-8f77-49d7-a400-cac5ca7b0e28', N'Phòng khám Thái Thịnh', N'Thái Thịnh, Hà Nội', 0, CAST(N'2026-09-11T15:46:35.067' AS DateTime), NULL)
INSERT [dbo].[Facility] ([Id], [Name], [Address], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'595a7577-59fe-418b-b745-f7f9974d7304', N'Phòng Khám Neo', N'Hà Đông, Xa La', 0, CAST(N'2026-09-11T15:35:58.960' AS DateTime), NULL)
GO
INSERT [dbo].[JobApplication] ([Id], [JobPositionId], [FullName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [CvFileUrl], [CoverLetter], [YearsOfExperience], [AppliedAt], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'b39fb7b0-b53d-4885-8179-07166d0b2ceb', N'994aff68-bfd6-48a9-bd36-09a82fdf5409', N'Nguyễn Cường', N'tungkh@gmail.com', N'097122222', CAST(N'2026-08-18T16:54:04.773' AS DateTime), N'Male', N'abc.url.com', N'string', 5, CAST(N'2026-08-18T09:54:04.770' AS DateTime), CAST(N'2026-08-18T09:54:04.770' AS DateTime), NULL, 1)
INSERT [dbo].[JobApplication] ([Id], [JobPositionId], [FullName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [CvFileUrl], [CoverLetter], [YearsOfExperience], [AppliedAt], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'044084fd-8682-4014-be22-11f0dfa06893', N'994aff68-bfd6-48a9-bd36-09a82fdf5409', N'Khánh Tùng', N'tungkh@gmail.com', N'097122222', CAST(N'2026-08-18T16:53:46.910' AS DateTime), N'Male', N'abc.url.com', N'string', 5, CAST(N'2026-08-18T09:53:46.910' AS DateTime), CAST(N'2026-08-18T09:53:46.910' AS DateTime), NULL, 0)
INSERT [dbo].[JobApplication] ([Id], [JobPositionId], [FullName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [CvFileUrl], [CoverLetter], [YearsOfExperience], [AppliedAt], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'41b89322-be18-42e2-88e1-129c7f190c18', N'41b89322-be18-42e2-88e1-129c7f190c18', N'Lương Huy', N'huyluong@gmail.com', N'09562222', CAST(N'2026-08-26T00:00:00.000' AS DateTime), N'Male', N'cv.com.url', N'abcccc', 5, CAST(N'2026-08-25T09:47:02.657' AS DateTime), CAST(N'2026-08-25T16:47:02.657' AS DateTime), CAST(N'2026-08-25T17:42:32.757' AS DateTime), 0)
GO
INSERT [dbo].[JobPosition] ([Id], [Title], [Department], [OpenSlots], [MinimumEducationLevelId], [IsOpen], [CreatedAt], [UpdatedAt], [IsDeleted], [ParentId]) VALUES (N'cf608c5c-1e3c-4c71-bb3e-029e398e8e53', N'Điều dưỡng nội khoa', N'Khoa Nội', 6, N'67feba50-7b7d-4ffb-a771-8f8e16b429f6', 1, CAST(N'2026-09-09T09:14:53.720' AS DateTime), CAST(N'2026-09-09T09:34:56.860' AS DateTime), 1, N'98a6b7a1-508e-4683-bdc3-2e120dddceba')
INSERT [dbo].[JobPosition] ([Id], [Title], [Department], [OpenSlots], [MinimumEducationLevelId], [IsOpen], [CreatedAt], [UpdatedAt], [IsDeleted], [ParentId]) VALUES (N'994aff68-bfd6-48a9-bd36-09a82fdf5409', N'Bác sĩ', N'Phòng khám chuyên khoa', 5, N'67feba50-7b7d-4ffb-a771-8f8e16b429f6', 1, CAST(N'2026-08-15T08:37:27.440' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[JobPosition] ([Id], [Title], [Department], [OpenSlots], [MinimumEducationLevelId], [IsOpen], [CreatedAt], [UpdatedAt], [IsDeleted], [ParentId]) VALUES (N'74411bb6-07c6-498e-992a-259160f9f695', N'Phó Giám Đốc bệnh viện', N'Ban Giám Đốc', 7, N'67feba50-7b7d-4ffb-a771-8f8e16b429f6', 1, CAST(N'2026-09-09T09:15:39.963' AS DateTime), CAST(N'2026-09-09T09:33:54.660' AS DateTime), 0, N'ac67ffe8-bed1-417c-949f-4599b50abff5')
GO
INSERT [dbo].[LeaveRequest] ([Id], [EmployeeId], [LeaveType], [FromDate], [ToDate], [Reason], [Status], [ApprovedBy], [ApprovedAt], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'eb56c395-7a81-4bc3-a13e-e13af85998c6', N'9acb7cae-9e42-41a1-97ae-549132ed00a0', N'Annual', CAST(N'2026-09-14' AS Date), CAST(N'2026-09-15' AS Date), N'string', N'Approved', N'8e21e8ef-7e79-42f9-b972-0d2727af4666', CAST(N'2026-09-14T08:55:21.953' AS DateTime), 0, CAST(N'2026-09-14T08:54:17.650' AS DateTime), CAST(N'2026-09-14T08:55:21.953' AS DateTime))
GO
INSERT [dbo].[MyEmployees] ([EmployeeID], [FirstName], [LastName], [Title], [DeptID], [ManagerID]) VALUES (1, N'Ken', N'Sánchez', N'Chief Executive Officer', 16, NULL)
INSERT [dbo].[MyEmployees] ([EmployeeID], [FirstName], [LastName], [Title], [DeptID], [ManagerID]) VALUES (16, N'David', N'Bradley', N'Marketing Manager', 4, 273)
INSERT [dbo].[MyEmployees] ([EmployeeID], [FirstName], [LastName], [Title], [DeptID], [ManagerID]) VALUES (23, N'Mary', N'Gibson', N'Marketing Specialist', 4, 16)
GO
INSERT [dbo].[Shift] ([Id], [FacilityId], [Name], [StartTime], [EndTime], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'0c4f1bff-5212-43e5-850c-61db2ac4da15', NULL, N'Ca sáng', CAST(N'07:30:00' AS Time), CAST(N'11:30:00' AS Time), 0, CAST(N'2026-09-11T16:11:06.540' AS DateTime), NULL)
INSERT [dbo].[Shift] ([Id], [FacilityId], [Name], [StartTime], [EndTime], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'df1e0731-937a-4382-bf17-88d2cb1b0160', NULL, N'Ca chiều', CAST(N'13:30:00' AS Time), CAST(N'17:30:00' AS Time), 0, CAST(N'2026-09-11T16:12:36.010' AS DateTime), NULL)
INSERT [dbo].[Shift] ([Id], [FacilityId], [Name], [StartTime], [EndTime], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (N'58308f20-f1cd-4da1-92c7-fc66fa97465a', N'595a7577-59fe-418b-b745-f7f9974d7304', N'Ca tối_2', CAST(N'19:30:00' AS Time), CAST(N'23:00:00' AS Time), 0, CAST(N'2026-09-11T16:15:42.550' AS DateTime), CAST(N'2026-09-12T11:11:09.630' AS DateTime))
GO
INSERT [dbo].[WorkSchedule] ([Id], [EmployeeId], [ShiftId], [FacilityId], [WorkDate], [Status], [Note], [CreatedBy], [IsDeleted], [CreatedAt], [UpdatedAt], [PublishedAt], [PublishedBy], [confirmedAt], [confirmedBy]) VALUES (N'05c03d0c-4206-4a38-89e9-5ff7c0dd20c0', N'9acb7cae-9e42-41a1-97ae-549132ed00a0', N'0c4f1bff-5212-43e5-850c-61db2ac4da15', N'ab58403b-8f77-49d7-a400-cac5ca7b0e28', CAST(N'2026-09-13' AS Date), N'Draft', N'string', N'a7abb521-fc9e-4ccd-aeb8-78244cc6fb20', 1, CAST(N'2026-09-13T22:09:50.590' AS DateTime), CAST(N'2026-09-14T11:49:45.047' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[WorkSchedule] ([Id], [EmployeeId], [ShiftId], [FacilityId], [WorkDate], [Status], [Note], [CreatedBy], [IsDeleted], [CreatedAt], [UpdatedAt], [PublishedAt], [PublishedBy], [confirmedAt], [confirmedBy]) VALUES (N'2d4e855b-8513-455c-8cd5-7cd123b8fe7f', N'8e21e8ef-7e79-42f9-b972-0d2727af4666', N'df1e0731-937a-4382-bf17-88d2cb1b0160', N'595a7577-59fe-418b-b745-f7f9974d7304', CAST(N'2026-09-17' AS Date), N'string', N'string', N'a7abb521-fc9e-4ccd-aeb8-78244cc6fb20', 1, CAST(N'2026-09-14T14:24:08.987' AS DateTime), CAST(N'2026-09-14T14:35:29.257' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Employee_Code]    Script Date: 14/09/2026 3:06:33 CH ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [UQ_Employee_Code] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_WorkSchedule_Slot]    Script Date: 14/09/2026 3:06:33 CH ******/
ALTER TABLE [dbo].[WorkSchedule] ADD  CONSTRAINT [UQ_WorkSchedule_Slot] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[WorkDate] ASC,
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EducationLevel] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[EducationLevel] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequest] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequest] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LeaveRequest] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Shift] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Shift] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShiftSwapRequest] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ShiftSwapRequest] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ShiftSwapRequest] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkSchedule] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[WorkSchedule] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[WorkSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EducationLevel]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[EducationLevelSalaryCoefficient]  WITH CHECK ADD  CONSTRAINT [fk_Education_Level] FOREIGN KEY([EducationLevelId])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[EducationLevelSalaryCoefficient] CHECK CONSTRAINT [fk_Education_Level]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Facility] FOREIGN KEY([PrimaryFacilityId])
REFERENCES [dbo].[Facility] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Facility]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_JobApplication] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplication] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_JobApplication]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_JobPosition] FOREIGN KEY([JobPositionId])
REFERENCES [dbo].[JobPosition] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_JobPosition]
GO
ALTER TABLE [dbo].[JobPosition]  WITH CHECK ADD  CONSTRAINT [fk_Job_Position] FOREIGN KEY([MinimumEducationLevelId])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[JobPosition] CHECK CONSTRAINT [fk_Job_Position]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_Employee]
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([Id])
GO
ALTER TABLE [dbo].[Shift] CHECK CONSTRAINT [FK_Shift_Facility]
GO
ALTER TABLE [dbo].[ShiftSwapRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequest_RequestedBy] FOREIGN KEY([RequestedByEmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ShiftSwapRequest] CHECK CONSTRAINT [FK_ShiftSwapRequest_RequestedBy]
GO
ALTER TABLE [dbo].[ShiftSwapRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequest_SwapWith] FOREIGN KEY([SwapWithEmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ShiftSwapRequest] CHECK CONSTRAINT [FK_ShiftSwapRequest_SwapWith]
GO
ALTER TABLE [dbo].[ShiftSwapRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequest_WorkSchedule] FOREIGN KEY([WorkScheduleId])
REFERENCES [dbo].[WorkSchedule] ([Id])
GO
ALTER TABLE [dbo].[ShiftSwapRequest] CHECK CONSTRAINT [FK_ShiftSwapRequest_WorkSchedule]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Employee]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Facility]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Shift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shift] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Shift]
GO
ALTER TABLE [dbo].[EducationLevel]  WITH CHECK ADD  CONSTRAINT [CK_EducationLevel_Order] CHECK  (([Order]<=(5)))
GO
ALTER TABLE [dbo].[EducationLevel] CHECK CONSTRAINT [CK_EducationLevel_Order]
GO
/****** Object:  StoredProcedure [dbo].[JobApplication_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[JobApplication_Update]
    @Id UNIQUEIDENTIFIER,@JobPositionId UNIQUEIDENTIFIER, @FullName NVARCHAR(100), @Email NVARCHAR(500),
    @PhoneNumber NVARCHAR(100), @DateOfBirth DATETIME, @Gender VARCHAR(40),@CvFileUrl VARCHAR(120), @CoverLetter VARCHAR(120),
	@YearsOfExperience INT, @AppliedAt DATETIME, @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.JobApplication
    SET JobPositionId = @JobPositionId, FullName = @FullName, 
	    Email = @Email, PhoneNumber = @PhoneNumber,
		DateOfBirth = @DateOfBirth, Gender = @Gender,
		CvFileUrl = @CvFileUrl, CoverLetter = @CoverLetter,
		YearsOfExperience = @YearsOfExperience, AppliedAt = @AppliedAt,
		UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[MyStoredProcedure]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MyStoredProcedure] AS
select * from dbo.EducationLevel
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_ExistsName]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Database/02_StoredProcedures.sql

CREATE   PROCEDURE [dbo].[spEducationLevel_ExistsName]
    @Name      NVARCHAR(100),
    @ExcludeId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CASE WHEN EXISTS (
        SELECT 1 FROM dbo.EducationLevel
        WHERE Name = @Name AND IsDeleted = 0
          AND (@ExcludeId IS NULL OR Id <> @ExcludeId)
    ) THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEducationLevel_Insert]
    @Id UNIQUEIDENTIFIER, @Name NVARCHAR(100), @Description NVARCHAR(500) = NULL,
    @Order INT, @CreatedAt DATETIME, @ParentId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Guard chống race condition: 2 request tạo cùng tên gần như đồng thời.
    IF EXISTS (SELECT 1 FROM dbo.EducationLevel WHERE Name = @Name AND IsDeleted = 0)
    BEGIN
        SELECT -1;
        RETURN;
    END

	IF @ParentId IS NOT NULL AND NOT EXISTS (
        SELECT 1 FROM dbo.EducationLevel WHERE Id = @ParentId AND IsDeleted = 0)
    BEGIN
        SELECT -2; RETURN;
    END

    INSERT INTO dbo.EducationLevel (Id, Name, Description, [Order], ParentId, IsDeleted, CreatedAt)
    VALUES (@Id, @Name, @Description, @Order, @ParentId, 0, @CreatedAt);

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEducationLevel_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT edu.Id, edu.Name, edu.Description, edu.[Order], edu.CreatedAt, edu.UpdatedAt, 
	       sa.Id , sa.AllowancePercentage, sa.BaseCoefficient, sa.EffectiveFrom,
		   job.Id, job.Title, job.Department, job.OpenSlots,
		   app.Id, app.FullName, app.Email, app.CvFileUrl, app.AppliedAt
    FROM dbo.EducationLevel as edu
	left join dbo.EducationLevelSalaryCoefficient as sa
	on edu.Id = sa.EducationLevelId
	left join dbo.JobPosition as job
	on edu.Id = job.MinimumEducationLevelId
	left join  dbo.JobApplication as app
	on job.Id = app.JobPositionId
    WHERE edu.Id = @Id AND edu.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_SelectList]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEducationLevel_SelectList]
    @Keyword        NVARCHAR(100) = NULL,
    @SortColumn     NVARCHAR(50)  = NULL,   -- Name | Order | CreatedAt. Giá trị khác/NULL -> sắp xếp mặc định (Order, Name).
    @SortDescending BIT           = 0,
    @PageIndex      INT           = 1,
    @PageSize       INT           = 20
AS
BEGIN
    SET NOCOUNT ON;

    IF @PageIndex < 1 SET @PageIndex = 1;
    IF @PageSize  < 1 SET @PageSize  = 20;

    -- Result set 1: tổng số bản ghi thoả điều kiện lọc, dùng để tính TotalPages ở tầng ứng dụng.
    SELECT COUNT(1)
    FROM dbo.EducationLevel
    WHERE IsDeleted = 0
      AND (@Keyword IS NULL OR Name LIKE '%' + @Keyword + '%');

    -- Result set 2: dữ liệu của trang hiện tại.
    -- Sắp xếp qua CASE WHEN (không dùng dynamic SQL) để @SortColumn không thể gây SQL injection.
    SELECT Id, Name, Description, [Order], IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.EducationLevel
    WHERE IsDeleted = 0
      AND (@Keyword IS NULL OR Name LIKE '%' + @Keyword + '%')
    ORDER BY
        CASE WHEN @SortColumn = 'Name'      AND @SortDescending = 0 THEN Name END ASC,
        CASE WHEN @SortColumn = 'Name'      AND @SortDescending = 1 THEN Name END DESC,
        CASE WHEN @SortColumn = 'CreatedAt' AND @SortDescending = 0 THEN CreatedAt END ASC,
        CASE WHEN @SortColumn = 'CreatedAt' AND @SortDescending = 1 THEN CreatedAt END DESC,
        CASE WHEN (@SortColumn = 'Order' OR @SortColumn IS NULL) AND @SortDescending = 0 THEN [Order] END ASC,
        CASE WHEN (@SortColumn = 'Order' OR @SortColumn IS NULL) AND @SortDescending = 1 THEN [Order] END DESC,
        Name ASC
    OFFSET (@PageIndex - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_SelectTree]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEducationLevel_SelectTree]
AS
BEGIN
    SET NOCOUNT ON;

    -- Trả về flat list toàn bộ node chưa xoá; dựng cây lồng nhau (Children) thực hiện ở tầng Service.
    SELECT Id, Name, Description, [Order], IsDeleted, CreatedAt, UpdatedAt, ParentId
    FROM dbo.EducationLevel
    WHERE IsDeleted = 0
    ORDER BY [Order], Name;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEducationLevel_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.EducationLevel WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    -- Duyệt xuống từ @Id để lấy trọn nhánh cần xoá: chính node này + toàn bộ hậu duệ (con, cháu, ...).
    DECLARE @Branch TABLE (Id UNIQUEIDENTIFIER PRIMARY KEY);

    ;WITH cte AS (
        SELECT Id FROM dbo.EducationLevel WHERE Id = @Id AND IsDeleted = 0
        UNION ALL
        SELECT e.Id
        FROM dbo.EducationLevel e
        INNER JOIN cte d ON e.ParentId = d.Id
        WHERE e.IsDeleted = 0
    )
    INSERT INTO @Branch (Id)
    SELECT Id FROM cte;

    -- Chặn cascade nếu BẤT KỲ node nào trong cả nhánh (node gốc hoặc con/cháu) còn JobPosition đang tham chiếu.
    IF EXISTS (
        SELECT 1
        FROM dbo.JobPosition jp
        INNER JOIN @Branch b ON jp.MinimumEducationLevelId = b.Id
        WHERE jp.IsDeleted = 0
    )
    BEGIN
        SELECT -1;
        RETURN;
    END

    UPDATE dbo.EducationLevel
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id IN (SELECT Id FROM @Branch);

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEducationLevel_Update]
    @Id UNIQUEIDENTIFIER, @Name NVARCHAR(100), @Description NVARCHAR(500) = NULL,
    @Order INT, @ParentId UNIQUEIDENTIFIER = NULL, @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.EducationLevel WHERE Name = @Name AND IsDeleted = 0 AND Id <> @Id)
    BEGIN
        SELECT -1;
        RETURN;
    END

    IF @ParentId IS NOT NULL
    BEGIN
        IF @ParentId = @Id
        BEGIN
            SELECT -3;   -- không thể tự làm cha của chính mình
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.EducationLevel WHERE Id = @ParentId AND IsDeleted = 0)
        BEGIN
            SELECT -2;   -- danh mục cha không tồn tại
            RETURN;
        END

		DECLARE @IsDescendant BIT = 0;   

        -- Chặn vòng lặp: @ParentId không được là hậu duệ của @Id (duyệt xuống từ @Id để tìm toàn bộ con cháu).
        ;WITH Descendants AS (
            SELECT Id FROM dbo.EducationLevel WHERE ParentId = @Id AND IsDeleted = 0
            UNION ALL
            SELECT e.Id
            FROM dbo.EducationLevel e
            INNER JOIN Descendants d ON e.ParentId = d.Id
            WHERE e.IsDeleted = 0
        )

		SELECT @IsDescendant = 1
               FROM Descendants
               WHERE Id = @ParentId;

         IF @IsDescendant = 1
            BEGIN
              SELECT -4;   -- gây vòng lặp (chọn con/cháu làm cha)
            RETURN;
        END
    END

    UPDATE dbo.EducationLevel
    SET Name = @Name, Description = @Description, [Order] = @Order, ParentId = @ParentId, UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevelSalaryCoefficient_GetSalaryCoefficientOfEducationLevel]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create     PROCEDURE [dbo].[spEducationLevelSalaryCoefficient_GetSalaryCoefficientOfEducationLevel]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select sa.Id, sa.BaseCoefficient, sa.AllowancePercentage, sa.EffectiveFrom, edu.Id as Id, edu.Name from dbo.EducationLevelSalaryCoefficient as sa 
	inner join dbo.EducationLevel as edu
	on sa.EducationLevelId = edu.Id
	where edu.Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[spEducationLevelSalaryCoefficient_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEducationLevelSalaryCoefficient_Insert]
    @Id UNIQUEIDENTIFIER, @EducationLevelId UNIQUEIDENTIFIER, @BaseCoefficient DECIMAL(5,2), @AllowancePercentage DECIMAL(5,2),@EffectiveFrom DATETIME,
    @Notes nvarchar(500), @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN
        INSERT INTO dbo.EducationLevelSalaryCoefficient(Id,EducationLevelId,BaseCoefficient, AllowancePercentage, EffectiveFrom, Notes, CreatedAt, IsDeleted)
        VALUES (@Id, @EducationLevelId, @BaseCoefficient , @AllowancePercentage, @EffectiveFrom, @Notes, @CreatedAt, 0);
    END
    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevelSalaryCoefficient_SelectList]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spEducationLevelSalaryCoefficient_SelectList]
    
AS
BEGIN
    SET NOCOUNT ON;
    select sa.Id, sa.EffectiveFrom, sa.BaseCoefficient, sa.AllowancePercentage, sa.Notes, edu.Id as Id, edu.Name from dbo.EducationLevelSalaryCoefficient as sa 
	inner join dbo.EducationLevel as edu
	on sa.EducationLevelId = edu.Id
	where sa.IsDeleted = 0 and edu.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevelSalaryCoefficient_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spEducationLevelSalaryCoefficient_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.EducationLevelSalaryCoefficient
    WHERE EducationLevelId = @Id;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevelSalaryCoefficient_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spEducationLevelSalaryCoefficient_Update]
    @EducationLevelId UNIQUEIDENTIFIER, @BaseCoefficient DECIMAL(5,2), @AllowancePercentage DECIMAL(5,2),@EffectiveFrom DATETIME,
    @Notes nvarchar(500), @CreatedAt DATETIME, @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 from dbo.EducationLevel as edu 
	           inner join dbo.EducationLevelSalaryCoefficient as salary 
			   on edu.Id = salary.EducationLevelId where edu.Id = @EducationLevelId)
    BEGIN
        UPDATE dbo.EducationLevelSalaryCoefficient
        SET BaseCoefficient = @BaseCoefficient, AllowancePercentage = @AllowancePercentage, EffectiveFrom = @EffectiveFrom, Notes = @Notes,
        UpdatedAt = @UpdatedAt
        WHERE EducationLevelId = @EducationLevelId;
    END
    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmployee_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmployee_Insert]
    @Id UNIQUEIDENTIFIER,
    @EmployeeCode NVARCHAR(50),
    @JobApplicationId UNIQUEIDENTIFIER = NULL,
    @JobPositionId UNIQUEIDENTIFIER,
    @PrimaryFacilityId UNIQUEIDENTIFIER,
    @FullName NVARCHAR(200),
    @Email NVARCHAR(150) = NULL,
    @PhoneNumber NVARCHAR(20) = NULL,
    @DateOfBirth DATETIME = NULL,
    @Gender NVARCHAR(20) = NULL,
    @HireDate DATETIME,
    @Status NVARCHAR(20),
    @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Employee
        (Id, EmployeeCode, JobApplicationId, JobPositionId, PrimaryFacilityId, FullName, Email, PhoneNumber, DateOfBirth, Gender, HireDate, Status, IsDeleted, CreatedAt)
    VALUES
        (@Id, @EmployeeCode, @JobApplicationId, @JobPositionId, @PrimaryFacilityId, @FullName, @Email, @PhoneNumber, @DateOfBirth, @Gender, @HireDate, @Status, 0, @CreatedAt);

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spEmployee_SelectAll]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmployee_SelectAll]
    @FacilityId UNIQUEIDENTIFIER,
    @JobPositionId UNIQUEIDENTIFIER,
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT emp.Id, emp.EmployeeCode, emp.FullName, emp.Email, emp.PhoneNumber, emp.Status ,faci.Id, faci.Name, job.Id, job.Title
    FROM dbo.Employee as emp
	inner join dbo.Facility as faci on emp.PrimaryFacilityId = faci.Id
	inner join dbo.JobPosition as job on emp.JobPositionId = job.Id
    WHERE emp.IsDeleted = 0 and faci.IsDeleted = 0 and job.IsDeleted = 0
	      AND (@FacilityId is null or emp.PrimaryFacilityId = @FacilityId)
		  AND (@JobPositionId is null or emp.JobPositionId = @JobPositionId)
		  AND (@Status is null or emp.Status = @Status)
    ORDER BY FullName ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmployee_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmployee_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT emp.Id, emp.EmployeeCode, emp.JobApplicationId, emp.FullName, emp.Email, emp.PhoneNumber, emp.DateOfBirth, emp.Gender, emp.HireDate, emp.Status,
	       job.Id, job.Title,
		   facility.Id, facility.Name
    FROM dbo.Employee as emp 
	inner join dbo.JobPosition as job on emp.JobPositionId = job.Id
	inner join dbo.Facility as facility on emp.PrimaryFacilityId = facility.Id
    WHERE emp.Id = @Id AND emp.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmployee_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmployee_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Employee WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    UPDATE dbo.Employee
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id = @Id;

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spEmployee_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmployee_Update]
    @Id UNIQUEIDENTIFIER,
    @EmployeeCode NVARCHAR(50),
    @JobApplicationId UNIQUEIDENTIFIER = NULL,
    @JobPositionId UNIQUEIDENTIFIER,
    @PrimaryFacilityId UNIQUEIDENTIFIER,
    @FullName NVARCHAR(200),
    @Email NVARCHAR(150) = NULL,
    @PhoneNumber NVARCHAR(20) = NULL,
    @DateOfBirth DATETIME = NULL,
    @Gender NVARCHAR(20) = NULL,
    @HireDate DATETIME,
    @Status NVARCHAR(20),
    @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Employee
    SET EmployeeCode = @EmployeeCode,
        JobApplicationId = @JobApplicationId,
        JobPositionId = @JobPositionId,
        PrimaryFacilityId = @PrimaryFacilityId,
        FullName = @FullName,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        DateOfBirth = @DateOfBirth,
        Gender = @Gender,
        HireDate = @HireDate,
        Status = @Status,
        UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spFacility_Count_Employee]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spFacility_Count_Employee]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select count(*) from dbo.Facility as fac 
         inner join dbo.Employee as emp
		 on fac.Id = emp.PrimaryFacilityId
		 where fac.Id = @Id AND fac.IsDeleted = 0 and (emp.Status = 'Active' OR emp.Status = 'OnLeave')
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_Count_Shift]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spFacility_Count_Shift]
     @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
select count(*) from dbo.[Shift] as sh 
              left join dbo.Facility as fac 
			  on sh.FacilityId = fac.Id
              where FacilityId IS NULL OR FacilityId = @Id
              and fac.IsDeleted = 0 and sh.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_Count_WorkSchedule]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_Count_WorkSchedule]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(1)
    FROM dbo.WorkSchedule
    WHERE FacilityId = @Id AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_ExistsName]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_ExistsName]
    @Name      NVARCHAR(150),
    @ExcludeId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CASE WHEN EXISTS (
        SELECT 1 FROM dbo.Facility
        WHERE Name = @Name AND IsDeleted = 0
          AND (@ExcludeId IS NULL OR Id <> @ExcludeId)
    ) THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_Insert]
    @Id UNIQUEIDENTIFIER, @Name NVARCHAR(150), @Address NVARCHAR(300) = NULL, @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Guard chống race condition: 2 request tạo cùng tên gần như đồng thời.
    IF EXISTS (SELECT 1 FROM dbo.Facility WHERE Name = @Name AND IsDeleted = 0)
    BEGIN
        SELECT -1;
        RETURN;
    END

    INSERT INTO dbo.Facility (Id, Name, Address, IsDeleted, CreatedAt)
    VALUES (@Id, @Name, @Address, 0, @CreatedAt);

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name, Address, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.Facility
    WHERE Id = @Id AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_SelectList]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_SelectList]
    @Keyword        NVARCHAR(150) = NULL,
    @SortColumn     NVARCHAR(50)  = NULL,   -- Name | CreatedAt. Giá trị khác/NULL -> sắp xếp mặc định (Name).
    @SortDescending BIT           = 0,
    @PageIndex      INT           = 1,
    @PageSize       INT           = 20
AS
BEGIN
    SET NOCOUNT ON;

    IF @PageIndex < 1 SET @PageIndex = 1;
    IF @PageSize  < 1 SET @PageSize  = 20;

    -- Result set 1: tổng số bản ghi thoả điều kiện lọc, dùng để tính TotalPages ở tầng ứng dụng.
    SELECT COUNT(1)
    FROM dbo.Facility
    WHERE IsDeleted = 0
      AND (@Keyword IS NULL OR Name LIKE '%' + @Keyword + '%' OR Address LIKE '%' + @Keyword + '%');

    -- Result set 2: dữ liệu của trang hiện tại.
    -- Sắp xếp qua CASE WHEN (không dùng dynamic SQL) để @SortColumn không thể gây SQL injection.
    SELECT Id, Name, Address, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.Facility
    WHERE IsDeleted = 0
      AND (@Keyword IS NULL OR Name LIKE '%' + @Keyword + '%' OR Address LIKE '%' + @Keyword + '%')
    ORDER BY
        CASE WHEN @SortColumn = 'CreatedAt' AND @SortDescending = 0 THEN CreatedAt END ASC,
        CASE WHEN @SortColumn = 'CreatedAt' AND @SortDescending = 1 THEN CreatedAt END DESC,
        CASE WHEN (@SortColumn = 'Name' OR @SortColumn IS NULL) AND @SortDescending = 0 THEN Name END ASC,
        CASE WHEN (@SortColumn = 'Name' OR @SortColumn IS NULL) AND @SortDescending = 1 THEN Name END DESC,
        Name ASC
    OFFSET (@PageIndex - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Facility WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    UPDATE dbo.Facility
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id = @Id;

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spFacility_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFacility_Update]
    @Id UNIQUEIDENTIFIER, @Name NVARCHAR(150), @Address NVARCHAR(300) = NULL, @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Facility WHERE Name = @Name AND IsDeleted = 0 AND Id <> @Id)
    BEGIN
        SELECT -1;
        RETURN;
    END

    UPDATE dbo.Facility
    SET Name = @Name, Address = @Address, UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobApplication_GetListJobApplicationByJobPositionId]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[spJobApplication_GetListJobApplicationByJobPositionId]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select app.Id, app.FullName, app.Gender, app.CvFileUrl, app.CoverLetter, app.AppliedAt from dbo.JobPosition as job 
	inner join dbo.JobApplication as app
	on job.Id = app.JobPositionId
	where job.Id = @Id and job.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[spJobApplication_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create     PROCEDURE [dbo].[spJobApplication_Insert]
    @Id UNIQUEIDENTIFIER, @JobPositionId UNIQUEIDENTIFIER, @FullName NVARCHAR(500),
    @Email varchar(200), @PhoneNumber varchar(50), @DateOfBirth DateTime, @Gender varchar(120), @CvFileUrl varchar(150), 
	@CoverLetter nvarchar (500), @YearOfExperience int, @AppliedAt Datetime, @CreatedAt datetime
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.JobApplication (Id, JobPositionId, FullName, Email, PhoneNumber, DateOfBirth, Gender, CvFileUrl, CoverLetter, YearsOfExperience, AppliedAt, CreatedAt, IsDeleted)
    VALUES (@Id, @JobPositionId, @FullName, @Email, @PhoneNumber, @DateOfBirth, @Gender, @CvFileUrl, @CoverLetter, @YearOfExperience, @AppliedAt, @CreatedAt, 0);

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobApplication_Select]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spJobApplication_Select]
    @Keyword nvarchar(100) = NULL,
	@JobPositionId UNIQUEIDENTIFIER = Null,
	@AppliedFrom Datetime = null,
	@AppliedTo Datetime = null
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @Pattern nvarchar(102) = N'%' + @Keyword + N'%';
    select app.Id, app.FullName, app.Gender, app.Email,app.DateOfBirth, app.YearsOfExperience ,app.PhoneNumber,app.CvFileUrl, app.CoverLetter, app.AppliedAt, job.Id, job.Title, job.Department from dbo.JobApplication as app 
	inner join dbo.JobPosition as job
	on app.JobPositionId = job.Id
	 WHERE (@Keyword IS NULL
           OR app.FullName LIKE @Pattern
           OR app.Email    LIKE @Pattern)      -- 
      AND (@JobPositionId IS NULL OR app.JobPositionId = @JobPositionId)
      AND (@AppliedFrom   IS NULL OR app.AppliedAt >= @AppliedFrom)
      AND (@AppliedTo     IS NULL OR app.AppliedAt <  DATEADD(DAY, 1, @AppliedTo))
	  AND job.IsDeleted = 0
	  AND app.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobApplication_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spJobApplication_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select app.Id, app.FullName, app.Email, app.PhoneNumber ,app.Gender, app.DateOfBirth, app.YearsOfExperience ,app.CvFileUrl, app.AppliedAt, job.Id, job.Title from dbo.JobApplication as app
	inner join dbo.JobPosition as job
	on app.JobPositionId = job.Id
	where app.Id = @Id and app.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[spJobApplication_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create    PROCEDURE [dbo].[spJobApplication_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.JobApplication SET IsDeleted = 1
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_ExistsName]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create     PROCEDURE [dbo].[spJobPosition_ExistsName]
    @Title      NVARCHAR(100),
    @ExcludeId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CASE WHEN EXISTS (
        SELECT 1 FROM dbo.JobPosition
        WHERE Title = @Title AND IsDeleted = 0
          AND (@ExcludeId IS NULL OR Id <> @ExcludeId)
    ) THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spJobPosition_Insert]
    @Id UNIQUEIDENTIFIER, @Title NVARCHAR(100), @Department NVARCHAR(500),
    @OpenSlots INT, @EducationLevelId UNIQUEIDENTIFIER, @IsOpen bit, @CreatedAt datetime, @IsDeleted bit, @ParentId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Guard ch?ng race condition: 2 request t?o cùng tên g?n nh? ??ng th?i.
    IF EXISTS (SELECT 1 FROM dbo.JobPosition WHERE Title = @Title AND IsDeleted = 0)
    BEGIN
        SELECT -1;
        RETURN;
    END

	IF @ParentId IS NOT NULL AND NOT EXISTS (
        SELECT 1 FROM dbo.JobPosition WHERE Id = @ParentId AND IsDeleted = 0)
    BEGIN
        SELECT -2; RETURN;
    END

    INSERT INTO dbo.JobPosition (Id, ParentId,Title, Department, OpenSlots, MinimumEducationLevelId, IsOpen, CreatedAt, IsDeleted)
    VALUES (@Id, @ParentId,@Title, @Department , @OpenSlots, @EducationLevelId, @IsOpen, @CreatedAt, @IsDeleted);

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spJobPosition_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select job.Id, job.Title, job.Department,job.OpenSlots, job.IsOpen, job.CreatedAt, job.UpdatedAt, education.Id, education.Name 
    from dbo.JobPosition as job 
    inner join dbo.EducationLevel as education
	on job.MinimumEducationLevelId = education.Id
    WHERE job.Id = @Id AND job.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_SelectList]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spJobPosition_SelectList]
    @Keyword NVARCHAR(100) = NULL,
    @EducationId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    select job.Id, job.Title, job.Department,job.OpenSlots, job.IsOpen,job.IsDeleted, job.CreatedAt, job.UpdatedAt, job.MinimumEducationLevelId as Id, Name, Description
    from dbo.JobPosition as job 
    inner join dbo.EducationLevel as education
    on job.MinimumEducationLevelId = education.Id
	where job.IsDeleted = 0 and education.IsDeleted = 0 and (@EducationId IS NULL OR  job.MinimumEducationLevelId = @EducationId)
	AND (@Keyword IS NULL OR Title LIKE '%' + @Keyword + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_SelectListJobPostionByEducationLevelId]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create     PROCEDURE [dbo].[spJobPosition_SelectListJobPostionByEducationLevelId]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    select job.Id, job.Title, job.Department,job.OpenSlots, job.CreatedAt, job.UpdatedAt
    from dbo.JobPosition as job 
    inner join dbo.EducationLevel as education
	on job.MinimumEducationLevelId = education.Id
    WHERE education.Id = @Id AND job.IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_SelectTree]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[spJobPosition_SelectTree]
AS
BEGIN
    SET NOCOUNT ON;

    -- Trả về flat list toàn bộ node chưa xoá; dựng cây lồng nhau (Children) thực hiện ở tầng Service.
    SELECT job.Id, job.Title, job.Department, job.OpenSlots, job.ParentId, job.IsOpen, job.CreatedAt, edu.Id, edu.Name 
    FROM dbo.JobPosition as job 
	inner join dbo.EducationLevel as edu on job.MinimumEducationLevelId = edu.Id
    WHERE job.IsDeleted = 0
    ORDER BY job.Title;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spJobPosition_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM dbo.JobPosition WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

	DECLARE @Branch TABLE (Id UNIQUEIDENTIFIER PRIMARY KEY);

    ;WITH cte AS (
        SELECT Id FROM dbo.JobPosition WHERE Id = @Id AND IsDeleted = 0
        UNION ALL
        SELECT e.Id
        FROM dbo.JobPosition e
        INNER JOIN cte d ON e.ParentId = d.Id
        WHERE e.IsDeleted = 0
    )
    INSERT INTO @Branch (Id)
    SELECT Id FROM cte;

    -- Chặn cascade nếu BẤT KỲ node nào trong cả nhánh (node gốc hoặc con/cháu) còn JobApplication đang tham chiếu.
    IF EXISTS (
        SELECT 1
        FROM dbo.JobApplication app
        INNER JOIN @Branch b ON app.JobPositionId = b.Id
        WHERE app.IsDeleted = 0
    )
    BEGIN
        SELECT -1;
        RETURN;
    END

    UPDATE dbo.JobPosition
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id IN (SELECT Id FROM @Branch);

    SELECT 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spJobPosition_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[spJobPosition_Update]
    @Id UNIQUEIDENTIFIER, @Title NVARCHAR(100), @Department NVARCHAR(500),
    @OpenSlots INT, @EducationLevelId UNIQUEIDENTIFIER, @IsOpen bit,@UpdatedAt DATETIME, @ParentId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.JobPosition WHERE Title = @Title AND IsDeleted = 0 AND Id <> @Id)
    BEGIN
        SELECT -1;
        RETURN;
    END

	IF @ParentId IS NOT NULL
    BEGIN
        IF @ParentId = @Id
        BEGIN
            SELECT -3;   -- không thể tự làm cha của chính mình
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.JobPosition WHERE Id = @ParentId AND IsDeleted = 0)
        BEGIN
            SELECT -2;   -- danh mục cha không tồn tại
            RETURN;
        END

		DECLARE @IsDescendant BIT = 0;   

        -- Chặn vòng lặp: @ParentId không được là hậu duệ của @Id (duyệt xuống từ @Id để tìm toàn bộ con cháu).
        ;WITH Descendants AS (
            SELECT Id FROM dbo.JobPosition WHERE ParentId = @Id AND IsDeleted = 0
            UNION ALL
            SELECT e.Id
            FROM dbo.JobPosition e
            INNER JOIN Descendants d ON e.ParentId = d.Id
            WHERE e.IsDeleted = 0
        )

		SELECT @IsDescendant = 1
               FROM Descendants
               WHERE Id = @ParentId;

         IF @IsDescendant = 1
            BEGIN
              SELECT -4;   -- gây vòng lặp (chọn con/cháu làm cha)
            RETURN;
        END
    END

    UPDATE dbo.JobPosition
    SET Title = @Title, ParentId = @ParentId, Department = @Department, OpenSlots = @OpenSlots, MinimumEducationLevelId = @EducationLevelId,
    IsOpen = @IsOpen, UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_Approve]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_Approve]
    @Id UNIQUEIDENTIFIER,
    @ApprovedBy UNIQUEIDENTIFIER = NULL,
    @ApprovedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LeaveRequest
    SET Status = 'Approved',
        ApprovedBy = @ApprovedBy,
        ApprovedAt = @ApprovedAt,
        UpdatedAt = @ApprovedAt
    WHERE Id = @Id AND IsDeleted = 0 AND Status = 'Pending';

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_Insert]
    @Id UNIQUEIDENTIFIER,
    @EmployeeId UNIQUEIDENTIFIER,
    @LeaveType NVARCHAR(30),
    @FromDate DATETIME,
    @ToDate DATETIME,
    @Reason NVARCHAR(300) = NULL,
    @Status NVARCHAR(20),
    @ApprovedBy UNIQUEIDENTIFIER = NULL,
    @ApprovedAt DATETIME = NULL,
    @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.LeaveRequest
        (Id, EmployeeId, LeaveType, FromDate, ToDate, Reason, Status, ApprovedBy, ApprovedAt, IsDeleted, CreatedAt)
    VALUES
        (@Id, @EmployeeId, @LeaveType, @FromDate, @ToDate, @Reason, @Status, @ApprovedBy, @ApprovedAt, 0, @CreatedAt);

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_Reject]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_Reject]
    @Id UNIQUEIDENTIFIER,
    @ApprovedBy UNIQUEIDENTIFIER = NULL,
    @ApprovedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LeaveRequest
    SET Status = 'Rejected',
        ApprovedBy = @ApprovedBy,
        ApprovedAt = @ApprovedAt,
        UpdatedAt = @ApprovedAt
    WHERE Id = @Id AND IsDeleted = 0 AND Status = 'Pending';

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SelectAll]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SelectAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, LeaveType, FromDate, ToDate, Reason, Status, ApprovedBy, ApprovedAt, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.LeaveRequest
    WHERE IsDeleted = 0
    ORDER BY FromDate DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SelectByFilter]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SelectByFilter]
    @EmployeeId UNIQUEIDENTIFIER = NULL,
    @Status NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, LeaveType, FromDate, ToDate, Reason, Status, ApprovedBy, ApprovedAt, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.LeaveRequest
    WHERE IsDeleted = 0
        AND (@EmployeeId IS NULL OR EmployeeId = @EmployeeId)
        AND (@Status IS NULL OR Status = @Status)
    ORDER BY FromDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, LeaveType, FromDate, ToDate, Reason, Status, ApprovedBy, ApprovedAt, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.LeaveRequest
    WHERE Id = @Id AND IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SelectConflictByDate]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SelectConflictByDate]
    @EmployeeId UNIQUEIDENTIFIER,
    @WorkDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 Id, EmployeeId, LeaveType, FromDate, ToDate, Reason, Status, ApprovedBy, ApprovedAt, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.LeaveRequest
    WHERE IsDeleted = 0
        AND EmployeeId = @EmployeeId
        AND Status IN ('Pending', 'Approved')
        AND CAST(@WorkDate AS DATE) BETWEEN CAST(FromDate AS DATE) AND CAST(ToDate AS DATE)
    ORDER BY FromDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SelectConflictsInScope]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SelectConflictsInScope]
    @EmployeeIds [dbo].[GuidListType] READONLY,
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    SELECT lr.Id, lr.EmployeeId, lr.LeaveType, lr.FromDate, lr.ToDate, lr.Reason, lr.Status, lr.ApprovedBy, lr.ApprovedAt, lr.IsDeleted, lr.CreatedAt, lr.UpdatedAt
    FROM dbo.LeaveRequest lr
    JOIN @EmployeeIds ids ON ids.Id = lr.EmployeeId
    WHERE lr.IsDeleted = 0
        AND lr.Status IN ('Pending', 'Approved')
        AND lr.FromDate <= @ToDate
        AND lr.ToDate >= @FromDate;
END
GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.LeaveRequest WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    UPDATE dbo.LeaveRequest
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id = @Id;

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spLeaveRequest_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLeaveRequest_Update]
    @Id UNIQUEIDENTIFIER,
    @EmployeeId UNIQUEIDENTIFIER,
    @LeaveType NVARCHAR(30),
    @FromDate DATETIME,
    @ToDate DATETIME,
    @Reason NVARCHAR(300) = NULL,
    @Status NVARCHAR(20),
    @ApprovedBy UNIQUEIDENTIFIER = NULL,
    @ApprovedAt DATETIME = NULL,
    @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LeaveRequest
    SET EmployeeId = @EmployeeId,
        LeaveType = @LeaveType,
        FromDate = @FromDate,
        ToDate = @ToDate,
        Reason = @Reason,
        Status = @Status,
        ApprovedBy = @ApprovedBy,
        ApprovedAt = @ApprovedAt,
        UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[spShift_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShift_Insert]
    @Id UNIQUEIDENTIFIER, @FacilityId UNIQUEIDENTIFIER = NULL, @Name NVARCHAR(100), @StartTime TIME(0), @EndTime TIME(0), @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Shift (Id, FacilityId, Name, StartTime, EndTime, IsDeleted, CreatedAt)
    VALUES (@Id, @FacilityId, @Name, @StartTime, @EndTime, 0, @CreatedAt);

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spShift_SelectAll]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShift_SelectAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, FacilityId, Name, StartTime, EndTime, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.Shift
    WHERE IsDeleted = 0
    ORDER BY Name ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[spShift_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShift_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM dbo.Facility WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT shift.Id, shift.FacilityId, shift.Name, shift.StartTime, shift.EndTime, shift.IsDeleted, facility.Id, facility.Name
        FROM dbo.Shift as shift 
	    left join dbo.Facility as facility
	    on shift.FacilityId = facility.Id
	    where 1 = 0;
        RETURN;
    END
	
    SELECT shift.Id, shift.FacilityId, shift.Name, shift.StartTime, shift.EndTime, shift.IsDeleted, facility.Id, facility.Name
    FROM dbo.Shift as shift 
	left join dbo.Facility as facility
	on shift.FacilityId = facility.Id
    WHERE (shift.FacilityId = @Id  OR shift.FacilityId IS NULL) and shift.IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spShift_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShift_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Shift WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    UPDATE dbo.Shift
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id = @Id;

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spShift_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShift_Update]
    @Id UNIQUEIDENTIFIER, @FacilityId UNIQUEIDENTIFIER = NULL, @Name NVARCHAR(100), @StartTime TIME(0), @EndTime TIME(0), @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Shift
    SET FacilityId = @FacilityId, Name = @Name, StartTime = @StartTime, EndTime = @EndTime, UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_BulkSoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_BulkSoftDelete]
    @Ids [dbo].[GuidListType] READONLY
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ws
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    FROM dbo.WorkSchedule ws
    JOIN @Ids i ON i.Id = ws.Id
    WHERE ws.IsDeleted = 0;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_Confirm]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_Confirm]
    @Id UNIQUEIDENTIFIER,
    @ConfirmedBy UNIQUEIDENTIFIER,
    @ConfirmedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ xác nhận được ca đang ở trạng thái Published, và đúng nhân viên được phân ca đó
    UPDATE dbo.WorkSchedule
    SET Status = 'Confirmed',
        confirmedBy = @ConfirmedBy,
        confirmedAt = @ConfirmedAt,
        UpdatedAt = @ConfirmedAt
    WHERE Id = @Id
        AND IsDeleted = 0
        AND Status = 'Published'
        AND EmployeeId = @ConfirmedBy;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_Insert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_Insert]
    @Id UNIQUEIDENTIFIER,
    @EmployeeId UNIQUEIDENTIFIER,
    @ShiftId UNIQUEIDENTIFIER,
    @FacilityId UNIQUEIDENTIFIER,
    @WorkDate DATETIME,
    @Status NVARCHAR(20),
    @Note NVARCHAR(300) = NULL,
    @CreatedBy UNIQUEIDENTIFIER = NULL,
    @CreatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.WorkSchedule
        (Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, IsDeleted, CreatedAt)
    VALUES
        (@Id, @EmployeeId, @ShiftId, @FacilityId, @WorkDate, @Status, @Note, @CreatedBy, 0, @CreatedAt);

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_PublishBatch]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_PublishBatch]
    @FacilityId UNIQUEIDENTIFIER,
    @FromDate DATETIME,
    @ToDate DATETIME,
    @PublishedBy UNIQUEIDENTIFIER = NULL,
    @PublishedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.WorkSchedule
    SET Status = 'Published',
        PublishedBy = @PublishedBy,
        PublishedAt = @PublishedAt,
        UpdatedAt = @PublishedAt
    WHERE IsDeleted = 0
        AND FacilityId = @FacilityId
        AND Status = 'Draft'
        AND CAST(WorkDate AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE);

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_SelectAll]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_SelectAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.WorkSchedule
    WHERE IsDeleted = 0
    ORDER BY WorkDate ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_SelectByFilter]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[spWorkSchedule_SelectByFilter]
    @EmployeeId UNIQUEIDENTIFIER = NULL,
    @FacilityId UNIQUEIDENTIFIER = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @ShiftId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.WorkSchedule
    WHERE IsDeleted = 0 AND Status = 'Confirmed'
        AND (@EmployeeId IS NULL OR EmployeeId = @EmployeeId)
        AND (@FacilityId IS NULL OR FacilityId = @FacilityId)
        AND (@ShiftId IS NULL OR ShiftId = @ShiftId)
        AND (@FromDate IS NULL OR CAST(WorkDate AS DATE) >= CAST(@FromDate AS DATE))
        AND (@ToDate IS NULL OR CAST(WorkDate AS DATE) <= CAST(@ToDate AS DATE))
    ORDER BY WorkDate ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_SelectById]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.WorkSchedule
    WHERE Id = @Id AND IsDeleted = 0;
END

GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_SelectDraftInScope]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_SelectDraftInScope]
    @FacilityId UNIQUEIDENTIFIER,
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, IsDeleted, CreatedAt, UpdatedAt
    FROM dbo.WorkSchedule
    WHERE IsDeleted = 0
        AND FacilityId = @FacilityId
        AND Status = 'Draft'
        AND CAST(WorkDate AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE);
END
GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_SoftDelete]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_SoftDelete]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.WorkSchedule WHERE Id = @Id AND IsDeleted = 0)
    BEGIN
        SELECT 0;   -- không tìm thấy
        RETURN;
    END

    UPDATE dbo.WorkSchedule
    SET IsDeleted = 1, UpdatedAt = GETDATE()
    WHERE Id = @Id;

    SELECT 1;
END

GO
/****** Object:  StoredProcedure [dbo].[spWorkSchedule_Update]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkSchedule_Update]
    @Id UNIQUEIDENTIFIER,
    @EmployeeId UNIQUEIDENTIFIER,
    @ShiftId UNIQUEIDENTIFIER,
    @FacilityId UNIQUEIDENTIFIER,
    @WorkDate DATETIME,
    @Status NVARCHAR(20),
    @Note NVARCHAR(300) = NULL,
    @UpdatedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.WorkSchedule
    SET EmployeeId = @EmployeeId,
        ShiftId = @ShiftId,
        FacilityId = @FacilityId,
        WorkDate = @WorkDate,
        Status = @Status,
        Note = @Note,
        UpdatedAt = @UpdatedAt
    WHERE Id = @Id AND IsDeleted = 0;

    SELECT CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END

GO
/****** Object:  StoredProcedure [dbo].[WorkSchedule_bulkInsert]    Script Date: 14/09/2026 3:06:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[WorkSchedule_bulkInsert]
@workSchedules typWorkSchedule ReadOnly
AS
BEGIN
      SET NOCOUNT ON;
      INSERT INTO dbo.WorkSchedule(Id, EmployeeId, ShiftId, FacilityId, WorkDate, Status, Note, CreatedBy, CreatedAt, UpdatedAt, PublishedAt, PublishedBy, confirmedAt, confirmedBy, IsDeleted)
      SELECT * FROM @workSchedules;

	  Select @@ROWCOUNT;
END
GO
