USE [DemoEducationLevelDb]
GO
/****** Object:  StoredProcedure [dbo].[spEducationLevel_SelectById]    Script Date: 8/18/2026 4:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[spEducationLevel_SelectById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT edu.Id, edu.Name, edu.Description, edu.[Order], edu.CreatedAt, edu.UpdatedAt, 
	       sa.Id , sa.AllowancePercentage, sa.BaseCoefficient, sa.EffectiveFrom,
		   job.Id, job.Title, job.Department, job.OpenSlots,
		   app.Id, app.FullName, app.Email, app.CvFileUrl, app.AppliedAt
    FROM dbo.EducationLevel as edu
	inner join dbo.EducationLevelSalaryCoefficient as sa
	on edu.Id = sa.EducationLevelId
	inner join dbo.JobPosition as job
	on edu.Id = job.MinimumEducationLevelId
	left join  dbo.JobApplication as app
	on job.Id = app.JobPositionId
    WHERE edu.Id = @Id AND edu.IsDeleted = 0;
END


SELECT edu.Id, edu.Name, edu.Description, edu.[Order], edu.CreatedAt, edu.UpdatedAt, 
	       sa.Id , sa.AllowancePercentage, sa.BaseCoefficient, sa.EffectiveFrom,
		   job.Id, job.Title, job.Department, job.OpenSlots,
		   app.Id, app.FullName, app.Email, app.CvFileUrl, app.AppliedAt
    FROM dbo.EducationLevel as edu
	inner join dbo.EducationLevelSalaryCoefficient as sa
	on edu.Id = sa.EducationLevelId
	inner join dbo.JobPosition as job
	on edu.Id = job.MinimumEducationLevelId
	left join  dbo.JobApplication as app
	on job.Id = app.JobPositionId
    WHERE edu.Id = '67FEBA50-7B7D-4FFB-A771-8F8E16B429F6' AND edu.IsDeleted = 0;

	select job.Title, job.Department, job.OpenSlots, app.FullName, app.Email, app.Gender from dbo.JobPosition as job 
	              inner join dbo.JobApplication as app
				  on job.Id = app.JobPositionId

	SELECT edu.Id, edu.Name, edu.Description, edu.[Order], edu.CreatedAt, edu.UpdatedAt, 
	       sa.Id , sa.AllowancePercentage, sa.BaseCoefficient, sa.EffectiveFrom,
		   job.Id, job.Title, job.Department, job.OpenSlots
    FROM dbo.EducationLevel as edu
	inner join dbo.EducationLevelSalaryCoefficient as sa
	on edu.Id = sa.EducationLevelId
	inner join dbo.JobPosition as job
	on edu.Id = job.MinimumEducationLevelId


	ID: '67FEBA50-7B7D-4FFB-A771-8F8E16B429F6',
	Name : 'đại học',
	Description: 'string',=

	Insert into dbo.JobApplication (Id, JobPositionId, FullName, )
